h1 {
	font-size: 18px;
	font-weight: bold;
}

.types {
	display: flex;
	color: #fff;
	justify-content: center;
	margin-top: 10px;
}

.type-box {
	padding: 10px;
}

.description {
	margin-top: 20px;
	margin-bottom: 20px;
}

a {
	color: #03a9f4;
	text-decoration: none;
}
